.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  /* font-size: 20px;
  padding-left: 10px;
  border: 1px solid #000;
  border-radius: 12px; */
}

.wrapperConnectButtons {
  border: 0px transparent;
}

.text {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 12px
}
/*
.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
  width: auto;
  line-height: 20px;
  height: 72px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: "Poppins-Light";
  padding: 0 10px;
} */
