html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
    font-size: 0.75rem;
}

input {
    font-family: menlo;
}

button {
    font-family: menlo;
    font-size: 0.75rem;
    margin-right: 3px;
    height: 1.5rem;
    border: 1px solid #333333;
    border-radius: 3px;
}
button:hover {
    background-color: #FFFE71;
    cursor: pointer;
}

.grid {
    display: flex;
    font-size: 0.2em;
    margin: 0.2rem;
    padding: 0rem;
    width: 1rem;
    height:1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: inherit;
    cursor: default;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.grid:hover {
    outline-width: 1px;
    outline-style: dashed;
    outline-color: #63e2ff88;
}

.machine {
    background-color: #0070f3;
}

.mech_open {
    border: 1px solid #FFFFFF;
}

.mech_close {
    border: 1px solid #FF7A00;
}

.atom_free {
    background-color: #DA2C43;
}

.atom_possessed {
    background-color: #FF6347;
}

.leaderboard_row {
    width: 8rem;
    text-align: center;
    vertical-align: middle;
}

.solution_row:hover {
    background-color: #FFFE71;
    cursor: pointer;
}

.stardisc {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.stardisc:hover {
    background-color: #FFFE71;
    cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
    color-scheme: light;
}
body {
    color: black;
    background: white;
}

li {
    font-size: 0.75rem;
}

table {
    border-collapse:collapse;
}

#submit-button{
    background: #EFEFEF url('../public/rsz_1starknet_icon.png') no-repeat;
    background-position: 93% 50%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    height: 1.5rem;
    padding-right: 1.6rem;
    border: 1px solid #333333;
    border-radius: 3px;
}
#submit-button:hover{
    background-color: #FFFE71;
    cursor: pointer;
}

/* source for styling range input below:
https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider */
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 40px;
      -webkit-appearance: none;
      background-color: #98c0bb;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #98c0bb;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #2d4249;
      box-shadow: -200px 0 0 200px #937882;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

/*
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

:root {
  --font-family-secondary: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

/* ref: https://alvarotrigo.com/blog/css-highlight-text/ */
strong {
    position: relative;
}
strong::before {
    /* Highlight color */
    background-color: #FFFE71;

    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-5deg);
}

input::placeholder {
    opacity: .5;
}

.result {
    font-size: 12px;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.unit {
    display: flex;
    font-size: 0.75em;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: color 0.05s ease, border-color 0.05s ease;
    color: #BBBBBB;
}


    /* from Cairo:

    namespace ns_antoc_body_state {
        const IDLE = 0;      // 5 frames
        const HORI = 10;     // 7 frames
        const VERT = 20;  // 10 frames
        const BLOCK = 40;    // 6 frames
        const HURT = 50;     // 3 frames
        const KNOCKED = 60;  // 20 frames
        const MOVE_FORWARD = 90;  // 7 frames
        const MOVE_BACKWARD = 100;  // 6 frames
        const DASH_FORWARD = 110;  // 9 frames
        const DASH_BACKWARD = 120;  // 9 frames
    }

    namespace ns_jessica_body_state {
        const IDLE = 0; // 5 frames
        const SLASH = 10; // 5 frames
        const UPSWING = 20;  // 5 frames
        const SIDECUT = 30;  // 5 frames
        const BLOCK = 40; // 3 frames
        const CLASH = 50; // 4 frames;
        const HURT = 60; // 3 frames
        const KNOCKED = 70; // 11 frames
        const MOVE_FORWARD = 90;  // 8 frames
        const MOVE_BACKWARD = 100;  // 6 frames
        const DASH_FORWARD = 110;  // 5 frames
        const DASH_BACKWARD = 120;  // 5 frames
    }

    */

/* Antoc */
/* .antoc-0 { background: url('../src/images/antoc/antoc-idle/1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-1 { background: url('../src/images/antoc/antoc-idle/2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-2 { background: url('../src/images/antoc/antoc-idle/3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-3 { background: url('../src/images/antoc/antoc-idle/4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-4 { background: url('../src/images/antoc/antoc-idle/5.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-10 { background: url('../src/images/antoc/antoc-attack-hori-from-idle/Horizontal\ ATTACK\ 1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-11 { background: url('../src/images/antoc/antoc-attack-hori-from-idle/Horizontal\ ATTACK\ 2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-12 { background: url('../src/images/antoc/antoc-attack-hori-from-idle/Horizontal\ ATTACK\ 3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-13 { background: url('../src/images/antoc/antoc-attack-hori-from-idle/Horizontal\ ATTACK\ 4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-14 { background: url('../src/images/antoc/antoc-attack-hori-from-idle/Horizontal\ ATTACK\ 5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-15 { background: url('../src/images/antoc/antoc-attack-hori-from-idle/Horizontal\ ATTACK\ 6.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-16 { background: url('../src/images/antoc/antoc-attack-hori-from-idle/Horizontal\ ATTACK\ 7.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-20 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-21 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-22 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-23 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-24 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-25 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK6.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-26 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK7.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-27 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK8.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-28 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK9.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-29 { background: url('../src/images/antoc/antoc-attack-vert/ATTACK10.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-40 { background: url('../src/images/antoc/antoc-block/block2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-41 { background: url('../src/images/antoc/antoc-block/block3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-42 { background: url('../src/images/antoc/antoc-block/block4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-43 { background: url('../src/images/antoc/antoc-block/block5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-44 { background: url('../src/images/antoc/antoc-block/block6.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-45 { background: url('../src/images/antoc/antoc-block/block7.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-50 { background: url('../src/images/antoc/antoc-hurt/frame_0.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-51 { background: url('../src/images/antoc/antoc-hurt/frame_1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-52 { background: url('../src/images/antoc/antoc-hurt/frame_2.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-60 { background: url('../src/images/antoc/antoc-knocked/knockdown1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-61 { background: url('../src/images/antoc/antoc-knocked/knockdown2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-62 { background: url('../src/images/antoc/antoc-knocked/knockdown3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-63 { background: url('../src/images/antoc/antoc-knocked/knockdown4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-64 { background: url('../src/images/antoc/antoc-knocked/knockdown5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-65 { background: url('../src/images/antoc/antoc-knocked/knockdown6.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-66 { background: url('../src/images/antoc/antoc-knocked/knockdown7.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-67 { background: url('../src/images/antoc/antoc-knocked/knockdown8.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-68 { background: url('../src/images/antoc/antoc-knocked/knockdown9.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-69 { background: url('../src/images/antoc/antoc-knocked/knockdown10.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-70 { background: url('../src/images/antoc/antoc-knocked/knockdown11.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-71 { background: url('../src/images/antoc/antoc-knocked/knockdown12.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-72 { background: url('../src/images/antoc/antoc-knocked/knockdown13.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-73 { background: url('../src/images/antoc/antoc-knocked/knockdown14.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-74 { background: url('../src/images/antoc/antoc-knocked/knockdown15.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-75 { background: url('../src/images/antoc/antoc-knocked/knockdown16.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-76 { background: url('../src/images/antoc/antoc-knocked/knockdown17.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-77 { background: url('../src/images/antoc/antoc-knocked/knockdown18.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-78 { background: url('../src/images/antoc/antoc-knocked/knockdown19.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-79 { background: url('../src/images/antoc/antoc-knocked/knockdown20.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-90 { background: url('../src/images/antoc/antoc-forward-walk/walk1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-91 { background: url('../src/images/antoc/antoc-forward-walk/walk2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-92 { background: url('../src/images/antoc/antoc-forward-walk/walk3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-93 { background: url('../src/images/antoc/antoc-forward-walk/walk4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-94 { background: url('../src/images/antoc/antoc-forward-walk/walk5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-95 { background: url('../src/images/antoc/antoc-forward-walk/walk6.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-96 { background: url('../src/images/antoc/antoc-forward-walk/walk7.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-100 { background: url('../src/images/antoc/antoc-backward-walk/coat\ man\ walk\ backward1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-101 { background: url('../src/images/antoc/antoc-backward-walk/coat\ man\ walk\ backward2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-102 { background: url('../src/images/antoc/antoc-backward-walk/coat\ man\ walk\ backward3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-103 { background: url('../src/images/antoc/antoc-backward-walk/coat\ man\ walk\ backward4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-104 { background: url('../src/images/antoc/antoc-backward-walk/coat\ man\ walk\ backward5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-105 { background: url('../src/images/antoc/antoc-backward-walk/coat\ man\ walk\ backward6.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-110 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-111 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-112 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-113 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-114 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-115 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash6.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-116 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash7.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-117 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash8.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-118 { background: url('../src/images/antoc/antoc-forward-dash/backward\ dash9.png') no-repeat; background-size: auto; background-position: left bottom; }

.antoc-120 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash1.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-121 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash2.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-122 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash3.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-123 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash4.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-124 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash5.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-125 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash6.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-126 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash7.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-127 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash8.png') no-repeat; background-size: auto; background-position: left bottom; }
.antoc-128 { background: url('../src/images/antoc/antoc-backward-dash/back\ backward\ dash9.png') no-repeat; background-size: auto; background-position: left bottom; } */
